@import "base/variables";
@import "components/page-title";
@import "components/container";
@import "components/todo";

.my-app {
  padding:10px 100px;
  color: $greensea;
}

nav {
  background-color: $greensea;
  margin-bottom: 20px;
}
